@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Color scheme

#A9A9A9 Carbon
#EFEFEF Neutral
#caebf2 Sky
#FF3B3F Watermelon

*/

/* Override default styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    min-height: 100vh;
    color: #A9A9A9;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

h2, h3 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header */

header {
    background-color: #CAEBF2;
    color: #A9A9A9;
    width: 100%;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #A9A9A9
}

/* Main */
main {
    /* Push footer  down */
    flex: 1 0 auto;
}

/* Footer */
footer {
}
