/* Override default styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    min-height: 100vh;
    color: #3A3A3A;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #252525;
    font-weight: 800;
}

h2, h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: inherit;
}

form {
    width: 100%;
    margin: 0 auto;
    background-color: #CAEBF2;
    padding: 2rem;
    box-shadow: 0 2px 4px #A9A9A9;
    border-radius: 8px;
}

.btn {
    background-color: #A92323;
    color: #FFFFFF;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.75rem 2rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: #D32F2F;
}

.btn:active {
    background-color: #B82A2A;
}

.form-input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #A9A9A9;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
    background-color: #CAEBF2;
    width: 100%;
    min-width: 280px;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #A9A9A9;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3A3A3A;
}

/* Nav bar dropdown styles*/
nav {
    position: absolute;
    background-color: #CAEBF2;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #A9A9A9;
    display: none;
    top: 100%;
}

#nav-toggle:checked ~ nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    font-size: 2rem;
}
/* Main */
main {
    flex: 1 0 auto;
    margin-top: 98px;
    background-color: #EFEFEF;
}

/* Hero section */
#hero {
    height: 700px;
    width: 100%;
    min-width: 280px;
    /* Image taken from https://www.pexels.com/photo/brown-and-black-wooden-chess-piece-163427/ */
    background: url("../images/hero-bg.webp") no-repeat center center/cover;
    color: #3A3A3A;
    position: relative;
}

#cover-text {
    background-color: rgba(202, 235, 242, .7);
    font-size: 110%;
    position: absolute;
    bottom: 100px;
    left: 20px;
    width: 80%;
    min-height: 200px;
    padding: 1rem 1rem;
}

/* Styles for the call-to-action link */
.call-to-action {
    display: inline-block;
    margin: 1rem auto;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
}

.call-to-action:hover {
    
    transform: translateY(-2px);
}

.call-to-action:active {
    transform: translateY(0);
}

.call-to-action::before {
    content: "Join Us";
}


/* About Us section */

#about {
    background-color: #EFEFEF;
}

#about-us {
    width: 90%;
    margin: 2rem auto;
}

#about-us p {
    margin-bottom: 2rem;
}

#about h2 {
    margin: 20px auto;
    text-align: center;
    font-size: 200%;
}

#benefits > div {
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

/* Contact Us section */
#contact {
    background-color: #EFEFEF;
    padding: 0 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

#contact h2 {
    margin-bottom: 2rem;
    font-size: 200%;
}

#contact address {
    margin-bottom: 2rem;
    font-style: normal;
}

#contact label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
}

/* Tournaments page */
section#tournaments {
    padding: 2rem 1rem;
    background-color: #EFEFEF;
    margin: 0 auto;
    max-width: 1200px;
}

#tournaments h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#tournaments p {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

/*Tournament register form*/

#tournament-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
}

/* Tournament results */
.tournament, .results {
    background-color: #FFF;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 2rem;
}

.tournament h3, .results h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.tournament p, .results p {
    margin-bottom: 0.5rem;
}

details summary {
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    border: 1px solid #A9A9A9;
    padding: 0.75rem;
    text-align: left;
}

th {
    background-color: #FF3B3F;
    color: #FFF;
}

tbody tr:nth-child(odd) {
    background-color: #F9F9F9;
}

/* Signup Section */
section#signup {
    background-color: #FFF;
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#signup-form {
    display: flex;
    flex-direction: column;
}

#signup h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #252525;
}

#signup label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
}

.join-button {
    text-align: center;
    margin-top: 1rem;
}

.join-button:hover {
    background-color: #D32F2F;
}

/* Footer */
footer {
    background-color: #caebf2;
}

#social-networks {
    display: flex;
    padding: 20px 0;
    text-align: center;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media queries */

/* Adjustments for medium-sized screens like tablets */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    #nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 220%;
        margin: 0 0.5rem;
        line-height: 40px;
    }

    main {
        margin-top: 80px;
    }

    /* Hero */
    #cover-text {
        width: 400px;
        right: 50px;
    }

    /* About Us */
    #benefits {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits div {
        width: 75%;
    }

    #contact form {
        width: 60%;
    }

    /* Tournaments */
    .tournament, .results {
        padding: 2rem;
    }

    #tournaments p {
        font-size: 1.4rem;
    }

    .tournament h3, .results h3 {
        font-size: 2.2rem;
    }

    /* Sign Up */
    section#signup {
        padding: 3rem 2rem;
    }

    #signup h2 {
        font-size: 2.2rem;
    }

    #signup input[type="text"],
    #signup input[type="email"] {
        padding: 1rem;
    }

    .join-button {
        padding: 1rem 3rem;
    }

    .call-to-action::before {
        content: "Join us today and improve your game!";
    }
}

/* Adjustments for large screens like laptops and desktops */

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3A3A3A;
    }

    /* About Us */
    #benefits {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #benefits div {
        width: 75%;
        padding: 10px;
    }

    #benefits div h3 {
        min-height: 60px;
    }

    #contact form {
        width: 40%;
    }

    /* Tournaments */
    #tournaments {
        padding: 3rem 2rem;
    }

    .tournament, .results {
        width: 75%;
        margin: 0 auto 2rem;
    }

    .tournament h3, .results h3 {
        font-size: 2.5rem;
    }

    a.cta {
        padding: 1rem 3rem;
    }

    table {
        margin-top: 2rem;
    }
    /* Sign Up*/
    section#signup {
        padding: 4rem 3rem;
    }

    #signup h2 {
        font-size: 2.5rem;
    }

    .join-button {
        padding: 1rem 4rem;
    }
}